
.add-container {
  padding-top: 5%;
  height: 273px;
  width: 375px;
}

.cart-img {
  float: left;
  border: none;
  border-radius: 0px;
  outline: none;
  padding-right: 10px;
  padding-top: 10px;
  margin-top: 13px;
  height: 82px;
  width: 82px;
}

.add-card {
  width: 350px;
  height: 200px;
  border-radius: 30px;
  background: #ffffff;
  padding-top: 30px;
  padding-left: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

h1.cart-h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: #3E4462;
  /* text-align: left; */

}

h2.cart-h2 {
  font-size: 16px;
}

h3.cart-h3 {
  font-size: 12px;
}

.cart-button {
  background-color: #dd7070;
  width: 80px;
  height: 31px;
  border-radius: 4px;
  border: none;
  text-align: center;
  font-size: 12px;
  letter-spacing: -0.24px;
  color: #ffffff;
  float: right;
  margin-right: 45px;
  /* margin-top: 2.5%; */
}

span {
  cursor: pointer;
}

input.quantity-input__screen {
  height: 32px;
  width: 10px;
  text-align: center;
  font-size: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0px;
}
