.card.cart-img {
  border: none;
}

.add-container {
  padding-top: 5%;
  height: 273px;
  width: 375px;
}

.cart-img {
  float: left;
  border: none;
  outline: none;
  padding-right: 10px;
  padding-top: 5%;
  height: 82px;
  width: 82px;
}

.add-card {
  width: 375px;
  height: 273px;
  border-radius: 30px 30px 30px 30px;
  background: #ffffff;
  padding-top: 3%;
  padding-left: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40vw;
}

h1.cart-h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
}

h2.cart-h2 {
  font-size: 16px;
}

h3.cart-h3 {
  font-size: 12px;
}

.cart-button {
  background-color: #dd7070;
  width: 91px;
  height: 31px;
  border-radius: 4px;
  border: none;
  text-align: center;
  font-size: 12px;
  letter-spacing: -0.24px;
  color: #ffffff;
  float: right;
  margin-right: 15%;
  margin-top: 2.5%;
}

span {
  cursor: pointer;
}
.number {
}

.minus,
.plus {
  width: 20px;
  height: 20px;
  background: #dd7070;
  color: #ffffff;
  border-radius: 4px;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

input.quantity-input__screen {
  height: 32px;
  width: 10px;
  text-align: center;
  font-size: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0px;
}
