.h1-rate{
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
}

input[type=image].back:hover {
    opacity: 0.8;
    float: left;
}

.dv-star-rating {
    font-size: 40px;
    width: fit-content;
    margin:auto auto !important;
    display:block !important;

}

.comments {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

}

input[type=text].customerRate {
    background-color: #C4C4C4;
    border-radius: 10px;
    border: none;
    opacity: 0.5nn;
    width: 300px;
    height: 100px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}

.btn-customerRate{
    background-color: #dd7070;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 110px;
    font-style: regular;
    font-weight: 400;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer;
   
}