body {
    background-color: #F8F5F2;
    font-family: 'Poppins', sans-serif;
    color: #3E4462;
}

.title {
    width: 90vw;
    margin-top: 5vw;
    margin-left: 5vw;
    margin-left: 5vw;
    text-align: center;
}

input[type=image].back {
    width: 50px;
    float: left;
    clear: both;
}

input[type=image].back:hover {
    opacity: 0.8;
}

h1 {
    font-size: 28px;
    font-style: bold;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    color: #3E4462;
}

button.past {
    text-decoration: underline;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    color: #DD7070;
    border: none;
    background-color: #F8F5F2;
}

button:hover {
    opacity: 0.8;
}

.content {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.order {
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 90vw;
    margin-top: 5vw;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    border: none;
    text-align: left;
}

h2 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    display: inline;
}

p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    margin-left: 3px;
}

#ready {
    color: #DD7070;
}

#done {
    background-color: #DFDFDF;
}

p.date {
    color: #A0A0A0;
}

img.right {
    width: 10px;
    float: right;
    clear: right;
    margin-right: 30px;
    padding-top: 20px;
    box-shadow: none;
    background-color: #F8F5F2;
}

#dark {
    filter: brightness(70%) grayscale(50%);
}

@media screen and (min-width: 768px) { /* for tablet-sized screens */
    .title {
        width: 720px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
    }

    .content {
        width: 720px;
        margin-left: auto;
        margin-right: auto;
    }

    .order {
        width: 700px;
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }

    button.past {
        width: 720px;
    }

}

